{% extends 'dependencies.html' %}
 
{% block content %}
{% load static %}

{%block content%}
   
<div class="nav">

</div>

<div class="container">

<header>
    <h1>The Django Test</h1>
    <img src="/quiz.jpeg" alt="" srcset="">
</header>
<div class="row d-flex justify-content-between">
    <div class="col-md-6">
<div class="text ">
    <h3>How good have you understood Django framework? </h3>
       <p> Here is a Django test that allows you to test your level of understanding. </p>
    <p>So, enjoy the Django multiple choice quiz but answer with full concentration.

    </p>
</div>
</div>
<div class="col-md-4">
<div class="image1">
<img src="/quiz4.jpeg" alt="" srcset="">
</div>
</div>
</div>
<button class= "btn btn-primary row d-flex justify-content-center btn-lg">Start test</button>
</div>
{%endblock%}